/* Includes fonts */
@font-face {
  font-family: 'latoblack';
  src: url('../../fonts/latoblack.woff2') format('woff2'), url('../../fonts/latoblack.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latobold';
  src: url('../../fonts/latosemibold.woff2') format('woff2'), url('../../fonts/latosemibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoregular';
  src: url('../../fonts/latoregular.woff2') format('woff2'), url('../../fonts/latoregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'latoregular';
  overflow-x: hidden;
  background-color: #333;
}
h1,
.h1 {
  font-family: 'latoblack';
  font-size: 54px;
  margin-bottom: 19px;
  max-width: 913px;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.43);
  color: #fff;
}
h2,
.h2 {
  font-family: 'latobold';
  font-size: 48px;
  margin-bottom: 111px;
  color: #fff;
}
h3,
.h3 {
  font-family: 'latoblack';
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
}
p,
.text {
  color: #fff;
  font-size: 24px;
  margin-bottom: 0;
}
p-small,
.text-small {
  font-size: 14px;
}
p-left,
.text-left {
  text-align: left;
}
p-right,
.text-right {
  text-align: right;
}
p-center,
.text-center {
  text-align: center;
}
p-black,
.text-black {
  color: #252525;
}
p-orange,
.text-orange {
  color: #f8a058;
}
.btn {
  font-size: 14px;
  font-family: 'latobold';
  color: #fff;
  padding: 20px;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 51px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-orange {
  box-shadow: 0 2px 10px 0 rgba(248, 160, 88, 0.5);
  background-color: #f8a058;
}
.btn-orange:hover {
  background-color: #ff7606;
  box-shadow: 0 2px 20px 0 rgba(248, 160, 88, 0.5);
  color: #fff;
}
.btn-blue {
  box-shadow: 0 2px 10px 0 rgba(96, 150, 174, 0.5);
  background-color: #6096ae;
}
.btn-blue:hover {
  background-color: #51b1db;
  box-shadow: 0 2px 20px 0 rgba(96, 150, 174, 0.5);
  color: #fff;
}
/* Section style */
.section {
  padding-bottom: 100px;
}
.header {
  background-image: url('../../images/header.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  box-sizing: border-box;
  position: relative;
}
.header-block {
  margin-top: 117px;
}
.header-block_val {
  font-family: 'latoblack';
  font-size: 54px;
  color: #fff;
  margin-bottom: 18px;
}
.header-block_label {
  font-size: 24px;
  color: #fff;
}
.header-block-window {
  box-shadow: 0 10px 20px 0 rgba(191, 212, 222, 0.43);
  width: 783px;
  padding: 40px;
  margin: 90px auto 0px;
  background-color: #fff;
}
.header-block-window_label {
  color: #6096ae;
  font-family: 'latoblack';
  font-size: 54px;
  margin-bottom: 18px;
}
.navigation {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
}
.navigation .tel:hover {
  color: #fff;
  text-decoration: none;
}
.section2-list {
  margin: 0;
  padding: 0;
}
.section2-list li {
  list-style: none;
  padding-bottom: 80px;
  overflow: hidden;
}
.section2-list li:before {
  margin-right: 28px;
  float: left;
}
.section2-list li.person:before {
  content: url('../../img/personal.svg');
}
.section2-list li.support:before {
  content: url('../../img/support.svg');
}
.section2-list li.product:before {
  content: url('../../img/product.svg');
}
.section2-list li:last-child {
  padding-bottom: 0;
}
.section3-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.section3-list .owl-item {
  float: left;
  overflow: hidden;
  padding: 30px 20px;
}
.section3-list .owl-dots {
  position: absolute;
  top: 91px;
  left: 91px;
  overflow: hidden;
}
.section3-list .owl-dots .owl-dot {
  width: 48px;
  height: 48px;
  border: 1px solid #fff;
  float: left;
  text-align: center;
  cursor: pointer;
}
.section3-list .owl-dots .owl-dot:before {
  color: #fff;
  opacity: 0.5;
  font-size: 56px;
  line-height: 41px;
}
.section3-list .owl-dots .owl-dot:nth-child(1):before {
  content: '\003C';
}
.section3-list .owl-dots .owl-dot:nth-child(2):before {
  content: '\003E';
}
.section3-list_item {
  width: 622px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.43);
  background-color: #333;
  position: relative;
  padding: 138px 72px 50px;
  overflow: hidden;
  box-sizing: border-box;
}
.section3-list_item .text {
  margin-bottom: 30px;
}
.section3-list_item .btn {
  margin-top: 0;
}
.section3-list_item-label {
  font-family: 'latobold';
  color: #6096ae;
  margin-bottom: 10px;
}
