/* Includes fonts */
@font-face {
  font-family: 'latoblack';
  src: url('../../fonts/latoblack.woff2') format('woff2'), url('../../fonts/latoblack.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latobold';
  src: url('../../fonts/latosemibold.woff2') format('woff2'), url('../../fonts/latosemibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoregular';
  src: url('../../fonts/latoregular.woff2') format('woff2'), url('../../fonts/latoregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'latoregular';
  overflow-x: hidden;
  background-color: #333;
}
h1,
.h1 {
  font-family: 'latoblack';
  font-size: 54px;
  margin-bottom: 19px;
  max-width: 913px;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.43);
  color: #fff;
}
h2,
.h2 {
  font-family: 'latobold';
  font-size: 48px;
  margin-bottom: 111px;
  color: #fff;
}
h3,
.h3 {
  font-family: 'latoblack';
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
}
p,
.text {
  color: #fff;
  font-size: 24px;
  margin-bottom: 0;
}
p-small,
.text-small {
  font-size: 14px;
}
p-left,
.text-left {
  text-align: left;
}
p-right,
.text-right {
  text-align: right;
}
p-center,
.text-center {
  text-align: center;
}
p-black,
.text-black {
  color: #252525;
}
p-orange,
.text-orange {
  color: #f8a058;
}
p-blue,
.text-blue {
  color: #6096ae;
}
a:hover {
  text-decoration: none;
}
.btn {
  font-size: 14px;
  font-family: 'latobold';
  color: #fff;
  padding: 20px;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 51px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-orange {
  box-shadow: 0 2px 10px 0 rgba(248, 160, 88, 0.5);
  background-color: #f8a058;
}
.btn-orange:hover {
  background-color: #ff7606;
  box-shadow: 0 2px 20px 0 rgba(248, 160, 88, 0.5);
  color: #fff;
}
.btn-blue {
  box-shadow: 0 2px 10px 0 rgba(96, 150, 174, 0.5);
  background-color: #6096ae;
}
.btn-blue:hover {
  background-color: #51b1db;
  box-shadow: 0 2px 20px 0 rgba(96, 150, 174, 0.5);
  color: #fff;
}
/* Section style */
.section {
  padding-bottom: 100px;
}
.header {
  background-image: url('../../images/header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  box-sizing: border-box;
  position: relative;
}
.header-block {
  margin-top: 117px;
}
.header-block_val {
  font-family: 'latoblack';
  font-size: 54px;
  color: #fff;
  margin-bottom: 18px;
}
.header-block_label {
  font-size: 24px;
  color: #fff;
}
.header-block-window {
  box-shadow: 0 10px 20px 0 rgba(191, 212, 222, 0.43);
  width: 783px;
  padding: 40px;
  margin: 90px auto 0px;
  background-color: #fff;
}
.header-block-window_label {
  color: #6096ae;
  font-family: 'latoblack';
  font-size: 54px;
  margin-bottom: 18px;
}
.navigation {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
}
.navigation .tel:hover {
  color: #fff;
  text-decoration: none;
}
.section2-list {
  margin: 0;
  padding: 0;
}
.section2-list li {
  list-style: none;
  padding-bottom: 80px;
  overflow: hidden;
}
.section2-list li:before {
  margin-right: 28px;
  float: left;
}
.section2-list li.person:before {
  content: url('../../img/personal.svg');
}
.section2-list li.support:before {
  content: url('../../img/support.svg');
}
.section2-list li.product:before {
  content: url('../../img/product.svg');
}
.section2-list li:last-child {
  padding-bottom: 0;
}
.section3 {
  position: relative;
}
.section3 .map-block {
  background-image: url('../../img/map.svg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 796px;
  height: 607px;
  position: absolute;
  right: 0;
  top: 0;
}
.section3 .map-block .map-icon {
  background-color: #6096ae;
  box-shadow: 0 0 20px 0 #6096ae;
  height: 32px;
  width: 32px;
  display: block;
  position: absolute;
  border-radius: 100%;
  z-index: 17;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section3 .map-block .map-icon.active {
  background-color: #f8a058;
  box-shadow: 0 0 20px 0 #f8a058;
  z-index: 19;
}
.section3 .map-block .map-icon.map0 {
  top: 279px;
  left: 97px;
}
.section3 .map-block .map-icon.map1 {
  top: 279px;
  left: 194px;
}
.section3 .map-block .map-icon.map2 {
  top: 246px;
  left: 194px;
}
.section3-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.section3-list .owl-item {
  float: left;
  overflow: hidden;
  padding: 30px 20px;
}
.section3-list .owl-nav {
  position: absolute;
  top: 473px;
  left: 91px;
  overflow: hidden;
}
.section3-list .owl-nav .owl-prev,
.section3-list .owl-nav .owl-next {
  width: 48px;
  height: 48px;
  border: 1px solid #fff;
  float: left;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section3-list .owl-nav .owl-prev.disabled,
.section3-list .owl-nav .owl-next.disabled {
  opacity: 0.5;
}
.section3-list .owl-nav .owl-prev.disabled:before,
.section3-list .owl-nav .owl-next.disabled:before {
  opacity: 0.5;
}
.section3-list .owl-nav .owl-prev:before,
.section3-list .owl-nav .owl-next:before {
  content: '';
  color: #fff;
  opacity: 1;
  font-size: 56px;
  line-height: 27px;
  display: inline-block;
  outline: none !important;
}
.section3-list .owl-nav .owl-prev:before {
  content: url('../../img/left.svg');
}
.section3-list .owl-nav .owl-next:before {
  content: url('../../img/right.svg');
}
.section3-list_item {
  width: 622px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.43);
  background-color: #202020;
  position: relative;
  padding: 0px 72px 50px;
  overflow: hidden;
  box-sizing: border-box;
}
.section3-list_item-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  filter: grayscale(100%);
  height: 415px;
  margin: 0 -72px;
  padding: 0 72px;
}
.section3-list_item .nav-space {
  display: block;
  width: 100%;
  height: 78px;
}
.section3-list_item .text {
  margin-bottom: 30px;
}
.section3-list_item .btn {
  margin-top: 0;
}
.section3-list_item-label {
  font-family: 'latobold';
  color: #6096ae;
  margin-bottom: 10px;
}
.section4 {
  background-image: url('../../images/smoke.png');
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: 100%;
}
.section4 .text {
  margin-top: 124px;
}
.section4 .round {
  width: 305px;
  height: 305px;
  margin: 0 auto 64px;
  position: relative;
}
.section4 .round circle {
  fill: transparent;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 4;
  stroke-dasharray: 408px 408px;
}
.section4 .round circle:nth-child(2n) {
  fill: transparent;
  stroke: #fff;
  stroke-width: 6;
}
.section4 .round-orange circle:nth-child(2n) {
  stroke: #f8a058;
}
.section4 .round-blue circle:nth-child(2n) {
  stroke: #51b1db;
}
.section4 .round-box {
  position: relative;
}
.section4 .round-box_val {
  position: absolute;
  font-family: 'latoblack';
  opacity: 0.1;
  font-size: 72px;
  width: 100%;
  text-align: center;
  line-height: 305px;
  z-index: 5;
  top: 0;
  left: 10px;
  color: #fff;
}
.section4 .round-box_label {
  font-size: 18px;
  line-height: 305px;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 7;
  top: 0;
  left: 10px;
  color: #fff;
}
.section4-contain {
  box-shadow: 0 10px 20px 0 rgba(191, 212, 222, 0.43);
  background-color: #fff;
  padding: 84px 96px 75px;
  position: relative;
  z-index: 4;
}
.section4-contain-box {
  padding-bottom: 50px;
}
.section4-contain-box_label {
  color: #333;
  font-family: 'latoblack';
  font-size: 48px;
  margin-bottom: 10px;
}
.section4-contain-box_val {
  color: #333;
  font-size: 24px;
}
.section4-contain-box:last-child:before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #979797;
  position: relative;
  top: -20px;
}
.section5 {
  height: 1032px;
  margin-top: -254px;
  position: relative;
  background-image: url('../../images/section5.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.section5-block {
  box-shadow: 0 10px 20px 0 rgba(191, 212, 222, 0.43);
  background-color: #fff;
  width: 430px;
  padding: 70px 42px 70px 63px;
  box-sizing: border-box;
  margin-top: 434px;
}
.section5-block .h3 {
  color: #000;
}
.section5-block .text-small {
  color: #000;
}
.section6 .blockquote {
  padding: 0;
  margin: 113px 0 0 0;
  font-size: 48px;
  color: #e1e1e1;
  border: none;
  line-height: 60px;
  position: relative;
  max-width: 763px;
}
.section6 .blockquote:before {
  content: url('../../img/blockquote.svg');
  position: absolute;
  top: 0;
  left: -88px;
  z-index: -2;
}
.section6 .blockquote a {
  position: absolute;
  left: 810px;
  bottom: 0;
  color: rgba(255, 255, 255, 0.5);
  padding: 20px 0 0 0;
  border-top: 1px solid #979797;
  font-size: 24px;
}
.section6 .blockquote a.link-rbc:after {
  content: '';
  display: block;
  width: 61px;
  height: 17px;
  background-image: url('../../images/rbc.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.section6 .grafic-space {
  overflow: hidden;
  margin-top: 140px;
}
.section6 .grafic-space_item {
  float: left;
  width: 583px;
  height: 503px;
  margin-top: 38px;
  position: relative;
  background-image: url('../../img/grafic-bg.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}
.section6 .grafic-space_item .grafic-line {
  position: absolute;
  height: 10px;
  opacity: 0;
  visibility: hidden;
  bottom: 60px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section6 .grafic-space_item .grafic-line .line-1,
.section6 .grafic-space_item .grafic-line .line-2 {
  position: absolute;
  width: 18px;
  border-radius: 100px;
  bottom: 0;
}
.section6 .grafic-space_item .grafic-line .line-1 {
  background-color: #6096ae;
  box-shadow: 0 2px 20px 0 rgba(96, 150, 174, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section6 .grafic-space_item .grafic-line .line-2 {
  background-color: #f8a058;
  box-shadow: 0 2px 20px 0 rgba(248, 160, 88, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section6 .grafic-space_item .grafic-line.active {
  opacity: 1;
  visibility: visible;
}
.section6 .grafic-space_item .grafic-line.grafic0 .line-1 {
  left: 0px;
  height: 111px;
}
.section6 .grafic-space_item .grafic-line.grafic1 .line-1 {
  left: 60px;
  height: 133px;
}
.section6 .grafic-space_item .grafic-line.grafic1 .line-2 {
  left: 89px;
  height: 296px;
}
.section6 .grafic-space_item .grafic-line.grafic2 .line-1 {
  left: 159px;
  height: 161px;
}
.section6 .grafic-space_item .grafic-line.grafic2 .line-2 {
  left: 188px;
  height: 320px;
}
.section6 .grafic-space_item .grafic-line.grafic3 .line-1 {
  left: 248px;
  height: 192px;
}
.section6 .grafic-space_item .grafic-line.grafic3 .line-2 {
  left: 276px;
  height: 363px;
}
.section6 .grafic-space_item .grafic-line.grafic4 .line-1 {
  left: 365px;
  height: 373px;
}
.section6 .grafic-space_item .grafic-line.grafic5 .line-1 {
  left: 453px;
  height: 393px;
}
.section6 .grafic-space_item .grafic-line.grafic6 .line-1 {
  left: 542px;
  height: 444px;
}
.section6 .grafic-space .grafic-digital {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.section6 .grafic-space .grafic-digital .owl-item {
  float: left;
  overflow: hidden;
  padding: 30px 20px;
  transition: 3s linear;
}
.section6 .grafic-space .grafic-digital .owl-nav {
  position: absolute;
  top: 61px;
  left: 203px;
  overflow: hidden;
}
.section6 .grafic-space .grafic-digital .owl-nav .owl-prev,
.section6 .grafic-space .grafic-digital .owl-nav .owl-next {
  width: 48px;
  height: 48px;
  border: 1px solid #fff;
  float: left;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section6 .grafic-space .grafic-digital .owl-nav .owl-prev.disabled,
.section6 .grafic-space .grafic-digital .owl-nav .owl-next.disabled {
  opacity: 0.5;
}
.section6 .grafic-space .grafic-digital .owl-nav .owl-prev.disabled:before,
.section6 .grafic-space .grafic-digital .owl-nav .owl-next.disabled:before {
  opacity: 0.5;
}
.section6 .grafic-space .grafic-digital .owl-nav .owl-prev:before,
.section6 .grafic-space .grafic-digital .owl-nav .owl-next:before {
  content: '';
  color: #fff;
  opacity: 1;
  font-size: 56px;
  line-height: 27px;
  display: inline-block;
  outline: none !important;
}
.section6 .grafic-space .grafic-digital .owl-nav .owl-prev:before {
  content: url('../../img/left.svg');
}
.section6 .grafic-space .grafic-digital .owl-nav .owl-next:before {
  content: url('../../img/right.svg');
}
.section6 .grafic-space .grafic-digital_item {
  box-sizing: border-box;
  padding: 38px 53px 59px 101px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.43);
  background-color: #202020;
  transition: 3s linear;
}
.section6 .grafic-space .grafic-digital_item-date {
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
}
.section6 .grafic-space .grafic-digital_item-box {
  margin-top: 50px;
}
.section6 .grafic-space .grafic-digital_item-box.box-border-top {
  border-top: 2px solid #979797;
}
.section6 .grafic-space .grafic-digital_item-box h3 {
  font-size: 48px;
  margin-bottom: 10px;
}
.section6 .grafic-space .grafic-digital_item-box p.text {
  margin-bottom: 0;
}
.section7 {
  background-image: url('../../images/section7.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 509px;
}
.section7-text {
  font-size: 36px;
}
.section7-text span {
  font-size: 48px;
  display: block;
}
